<nav class="navbar fixed-top pt-0 bg-transparent">
    <a class="navbar-brand text-white con_foto_carnet" id="home_micaraxd" routerLink="/home" data-trigger="manual" data-toggle="tooltip" data-placement="bottom" title="Volver al Home">
        <img src="assets/img/yo-carnet.jpg" class="foto_carnet shadow-sm rounded-circle border" alt="">
        <span class="text_foto text-white">
            Gustavo Gálvez
            <span class=" ml-2 font-weight-lighter">Developer</span>
        </span>
    </a>
    <ul class="navbar-nav mr-auto"></ul>
    <span class="text-white font-weight-bolder d-flex mt-auto contacts">
        <a href="https://github.com/Gustavogalvez" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github mx-2 fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/gustavo-g%C3%A1lvez-aravena-389489133" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin mx-2 fa-2x"></i>
        </a>
        <a (click)="enviarMail()">
            <i class="fas fa-mail-bulk mx-2 fa-2x"></i>
        </a>
    </span>
</nav>
<span class="divisor_header"></span>
<span class="divisor_footer"></span>