<div class="container-12">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-custom-lb menu_button" routerLink="/aplicaciones" style="height: 80px;">
                <img src="assets/img/angular.svg" class="icon-first">
                <i class="fas fa-cat icon-second"></i> Aplicaciones
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-custom-lb menu_button" routerLink="/estudios" style="height: 80px;">
                <i class="fas fa-user-graduate p-3 icon-first" style="color: rgb(49, 214, 255) !important;"></i>
                <i class="fas fa-dog icon-second"></i> Estudios
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-custom-lb menu_button" routerLink="/tecnologias" style="height: 80px;">
                <i class="fas fa-space-shuttle p-3 icon-first" style="color: rgb(200, 200, 60) !important;"></i>
                <i class="fas fa-frog icon-second"></i> Tecnologías
            </div>
        </div>
    </div>
</div>