<div class="row">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xl-4 mb-5 text-center">
                <div class="shadow-sm rounded-lg card border-0">
                    <a (mouseleave)="tool.removeTool()" (click)="tool.removeTool()" (mouseenter)="tool.showTool(img_sical)" href="https://www.sicalingenieros.com/" target="_blank" rel="noopener noreferrer">
                        <img #img_sical data-toggle="tooltip" data-placement="top" title="Ir a Sical" class="bd-placeholder-img w-75 my-3 bg-white" src="assets/img/sical-logo.png" alt="Sical Ingenieros">
                    </a>
                    <h2>SICAL INGENIEROS S.A.</h2>
                    <p class="justify-content">
                        Creación de aplicación web para la gestión y administración interna de la empresa Sical Ingenieros S.A.
                    </p>
                    <div class="col-12 mb-2 text-center">
                        <p class="collapse_custom shadow-sm badge btn-custom-lb mb-1 collapsed pointer" data-toggle="collapse" data-target="#sical_det" aria-expanded="false"> Detalles <i class="fas fa-angle-up"></i></p>
                    </div>
                    <div class="col-12">
                        <div class="collapse" id="sical_det">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-1 font-weight-bolder">Funcionalidades de la App</li>
                                <li class="list-group-item p-1">
                                    Más de 20 mantenedores, por ejemplo: -Comunas, Porvincias y Regiones -Tipos de monedas -Plantillas, Campos -Protocolos -Servicios -Usuarios -Clientes -ETC
                                    <br> Todos para mantener la independencia de la aplicación y no requerir el constante soporte ante cambios externos
                                </li>
                                <li class="list-group-item p-1">
                                    Generar <strong>plantillas dinamicas</strong> (formularios) para capturar datos de certificación.
                                </li>
                                <li class="list-group-item p-1">
                                    Manejo de mapas y georefencias
                                </li>
                                <li class="list-group-item p-1">
                                    Manejo de la librería Chartjs, graficos simples (barras y pie's)
                                </li>
                                <li class="list-group-item p-1">
                                    Flujos de los multiples porcesos internos que posee la Empresa
                                </li>
                                <li class="list-group-item p-1">
                                    Manejo de paginación, rutas, listados, tablas, subida de archivos, etc...
                                </li>
                                <div class="w-100 pt-3">
                                    <span class="badge badge-light float-right d-inline m-2">Creada en Integ-Solutions</span>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-5 text-center">
                <div class="shadow-sm rounded-lg card border-0">
                    <a (mouseleave)="tool.removeTool()" (click)="tool.removeTool()" (mouseenter)="tool.showTool(img_nh)" href="https://www.nhfoodschile.cl/" target="_blank" rel="noopener noreferrer">
                        <img #img_nh data-toggle="tooltip" data-placement="top" title="Ir a NH FOODS" class="bd-placeholder-img w-75 my-3 bg-white" src="assets/img/Logo_NHFoods.png" alt="nhfoodschile">
                    </a>
                    <h2>NH FOODS CHILE</h2>
                    <p class="justify-content">
                        Creación de aplicación web para la gestión y administración de los procesos internos de la empresa NH FOODS CHILE
                    </p>
                    <div class="col-12 mb-2 text-center">
                        <p class="collapse_custom shadow-sm badge btn-custom-lb mb-1 collapsed pointer" data-toggle="collapse" data-target="#nh_det" aria-expanded="false"> Detalles <i class="fas fa-angle-up"></i></p>
                    </div>
                    <div class="col-12">
                        <div class="collapse" id="nh_det">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-1 font-weight-bolder">Funcionalidades de la App</li>
                                <li class="list-group-item p-1">
                                    Más de 15 mantenedores, por ejemplo: -Plantas -Sucursales -Roles -Impresoras -Plantillas -Campos -Configuraciones en general -ETC
                                    <br> Todos para mantener la independencia de la aplicación y no requerir el constante soporte ante cambios externos
                                </li>
                                <li class="list-group-item p-1">
                                    Manejar los procesos de la industria desde Compras hasta Ventas, pasando por: Rendimiento, Clasificación, Ensamblaje, etc. Calculando reglas contables de la empresa.
                                </li>
                                <li class="list-group-item p-1">
                                    Generación de Excels
                                </li>
                                <li class="list-group-item p-1">
                                    Manejo de paginación, rutas, listados, tablas, subida de archivos, etc...
                                </li>
                                <div class="w-100 pt-3">
                                    <span class="badge badge-light float-right d-inline m-2">Creada en Integ-Solutions</span>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-5 text-center">
                <div class="shadow-sm rounded-lg card border-0">
                    <a (mouseleave)="tool.removeTool()" (click)="tool.removeTool()" (mouseenter)="tool.showTool(img_lena)" href="https://lenaycia.cl/" target="_blank" rel="noopener noreferrer">
                        <img #img_lena data-toggle="tooltip" data-placement="top" title="Ir a Lena&Cia" class="bd-placeholder-img w-75 my-3 bg-white" src="assets/img/logo-lena.png" alt="lenaycia">
                    </a>
                    <h2>LENA&CIA ABOGADOS</h2>
                    <p class="justify-content">
                        Migración de aplicación web para la gestión y administración de los procesos internos de la empresa LENA&CIA ABOGADOS
                    </p>
                    <div class="col-12 mb-2 text-center">
                        <p class="collapse_custom shadow-sm badge btn-custom-lb mb-1 collapsed pointer" data-toggle="collapse" data-target="#lena_det" aria-expanded="false"> Detalles <i class="fas fa-angle-up"></i></p>
                    </div>
                    <div class="col-12">
                        <div class="collapse" id="lena_det">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item p-1 font-weight-bolder">Funcionalidades de la App</li>
                                <li class="list-group-item p-1">
                                    La aplicación fue migrada desde Ruby on Rails a Angular 9.x/Node.js/MSSQL por problemas de rendimiento<br> La aplicación antigua fue optimizada 2 veces por 2 equipos distintos, al no ver mejoras sustanciales para el
                                    cliente, se decide migrar la aplicación
                                </li>
                                <li class="list-group-item p-1">
                                    Se crearon la totalidad de componentes desde cero, además de agregar algunos más para asegurar la independecia de ellos
                                </li>
                                <li class="list-group-item p-1">
                                    Se agregaron 5 mantenedores nuevos a los existentes (aproximadamente 15)
                                </li>
                                <li class="list-group-item p-1">
                                    Se implemento fullcalendar.io (JS), se consulta solo lo que está en vista, ya qué un abogado puede tener más de 2000 eventos por mes. <br> Se agregan opciones para mejorar la usabilidad del usuario, tales como: Maximizador
                                    (agranda el contenedor del calendario para mejorar la vista), Tamaño de letra, Tipo de visualización (para que puedan cambiar si quieren ver todos los eventos o colocar un limite '3 more +') y navegación a fecha especifica.
                                    <br> Se modificaron la vista de los eventos, agregando color e iconos a los tipos de eventos que poseen los usuario (Cita pendiente|realizada|confirmada, Reunión pendiente|realizada|confirmada|contratada y Sin Interes)
                                </li>
                                <li class="list-group-item p-1">
                                    Se agrego la generación de PDF's y Excel's
                                </li>
                                <li class="list-group-item p-1">
                                    Se implementa la librería Chartjs y NgxCharts para mostrar los más de 7 reportes que poseen <br> Linear con barra de tiempo y pie's avanzada (NgxCharts) <br> Gráfico de Barras agrupado por fecha de todas las 27 sucursales
                                </li>
                                <li class="list-group-item p-1">
                                    Manejo de paginación, rutas, listados, tablas, subida de archivos, etc...
                                </li>
                                <div class="w-100 pt-3">
                                    <span class="badge badge-light float-right d-inline m-2">Creada en Integ-Solutions</span>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-tooltip #tool></app-tooltip>